@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif;
}

.header{
    height: 100vh;
    width: 100%;
    background-image: url(img/1703766020_kalix-club-p-belo-serie-oboi-foni-instagram-21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 0px 70px;
}
.navbar_list{
    list-style: none;
    display: flex;
    gap: 30px;
    font-weight: 600;
}

li{
    cursor: pointer;
    transition: all 0.3s ease;
}

li:hover{
    color:  rgb(12, 201, 201);
}

.burger{
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    position: relative;
    display: none;
    z-index: 2;
}

span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    left: 5px;
    transition: transform .5s , opacity .5s , background-color .5s;
}

span:nth-child(1){
    transform: translateY(10px);
}

.header.open span:nth-child(2){
    opacity: 0 ;
}

.header.open span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}

.header.open span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}


    
span:nth-child(3){
    transform: translateY(-10px);
}

.navbar_icon{
    height: 32px;
    width: 35px;
}

.navbar_icon_img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.header_text{
    margin-top: 100px;
    margin-right: 200px;
    width: 500px;
    height: auto;
    float: right;
}   

.header_text_title{
font-weight: 400;
font-size: 45px;
line-height: 1.5;
}

.header_text_main{
    margin-top: 15px;
    font-weight: 300;
    color: rgb(57, 58, 59);
    line-height: 1.5;
}

.header_text_button{
    margin-top: 30px;
    padding: 20px 50px;
    background-color: rgb(12, 201, 201);
    border: none;
    color: rgb(248, 239, 239);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.header_text_button:hover{
    opacity: 0.6;
}

.main_fraim{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {

    .navbar{
        padding:0px 20px 0px 20px ;
    }
    .main_img{
        display: none;
    }
    .main_fraim{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header_text{
        margin-right: 0 !important;
        text-align: center;
    }
    .burger{
        display: block;
    }
    .navbar_list{
        position: absolute;
        width: 300px;
        left: -300px;
        top: 0;
        background-color: rgb(187, 183, 190);
        display: block;
        text-align: center;
        padding: 140px 50px 80px 20px ;
        transition: transform .5s;
    }
    .navbar_list li{
        margin: 5px;
    }
    .header.open .navbar_list{
        transform: translateX(100%);
    }
  }

  @media only screen and (max-width: 500px){
    .header_text_title{
        font-size: 36px;
    }
    .navbar_list{
        padding: 140px 25px 100px 20px ;
    }
  }

  @media only screen and (max-width: 300px){
    .header_text_title{
        font-size: 30px;
    }
    .header_text_button{
        padding: 15px 30px;
        font-size: 13px;
    }
  }

