@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif;
}

.header{
    height: 100vh;
    width: 100%;
    background-image: url(img/1703766020_kalix-club-p-belo-serie-oboi-foni-instagram-21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 0px 70px;
}
.navbar_list{
    list-style: none;
    display: flex;
    gap: 30px;
    font-weight: 600;
}

li{
    cursor: pointer;
    transition: all 0.3s ease;
}

li:hover{
    color:  rgb(12, 201, 201);
}

.burger{
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    position: relative;
    display: none;
    z-index: 2;
}

span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    left: 5px;
    transition: transform .5s , opacity .5s , background-color .5s;
}

span:nth-child(1){
    transform: translateY(10px);
}

.header.open span:nth-child(2){
    opacity: 0 ;
}

.header.open span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}

.header.open span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}


    
span:nth-child(3){
    transform: translateY(-10px);
}

.navbar_icon{
    height: 32px;
    width: 35px;
}

.navbar_icon_img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.header_text{
    margin-top: 100px;
    margin-right: 200px;
    width: 500px;
    height: auto;
    float: right;
}   

.header_text_title{
font-weight: 400;
font-size: 45px;
line-height: 1.5;
}

.header_text_main{
    margin-top: 15px;
    font-weight: 300;
    color: rgb(57, 58, 59);
    line-height: 1.5;
}

.header_text_button{
    margin-top: 30px;
    padding: 20px 50px;
    background-color: rgb(12, 201, 201);
    border: none;
    color: rgb(248, 239, 239);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.header_text_button:hover{
    opacity: 0.6;
}

.main_fraim{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.about{
    width: 100%;
    height: 45vh;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0px 200px 0px 200px;
}

.about_text_title{
    font-weight: 450;
    font-size: 36px;
    line-height: 2;

}

.about_text_main{
    margin-top: 10px;
    line-height: 1.5;
    color: rgb(57, 58, 59);
}

.about_text_img{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.about_img{
    width: 100%;
    height: 100%;
}
.about_text{
    align-items: center;
    text-align: center;
}

.skills{
    width: 100%;
    height: 80vh;
    display: flex;
}
.skills_main{
    height: 100%;
    width: 50%;
    background-color: rgb(241, 247, 245);
    padding-top: 100px;
}

.skills_main_level{
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.line_one{
    width: 100%;
    height: 3px;
    display: flex;
    margin-top: 10px;
}

.line_two{
    width: 100%;
    height: 3px;
    display: flex;
    margin-top: 10px;
}

.line_three{
    width: 100%;
    height: 3px;
    display: flex;
    margin-top: 10px;
}

.line_three_left{
    width: 65%;
    height: 100%;
    background-color: rgb(5, 199, 199);
}

.line_three_right{
    width: 35%;
    height: 100%;
    background-color: rgb(186, 189, 189);
}

.line_two_left{
    width: 90%;
    height: 100%;
    background-color: rgb(5, 199, 199);
}

.line_two_right{
    width: 10%;
    height: 100%;
    background-color: rgb(186, 189, 189);
}

.line_one_left{
    width: 75%;
    height: 100%;
    background-color: rgb(5, 199, 199);
}

.line_one_right{
    width: 25%;
    height: 100%;
    background-color: rgb(186, 189, 189);
}

h3{
    margin-top: 40px;
    font-weight: 450;
    line-height: 2;
    font-size: 16px;
}

.skills_main_level_title{
    font-weight: 450;
    font-size: 36px;
    line-height: 2;
}

.skills_img{
    height: 100%;
    width: 50%;
    background-image: url(img/Снимок\ экрана\ 2024-07-29\ 203525.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.work_line{
    width: 100%;
    height: auto;
    background-color: rgb(5, 199, 199);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    gap: 100px;
    flex-wrap: wrap;
}

.work_line_tipe{
    width: auto;
    height: 243px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.work_line_tipe_container{
    width: 44px;
    height: 40px;
}

.work_line_tipe_container_img{
    width: 100%;
    height: 100%;
}

.work_line_tipe_text{
    margin-left: 20px;
}

.work_line_tipe_text_title{
    text-align: start;
    color: white;
    font-size: 18px;
}

.work_line_tipe_text_main{
    margin-top: 10px;
    color: white;
    font-size: 14px;
}

@media only screen and (max-width: 1300px){
    .work_line{
        padding-right: 30px;
        padding-left: 30px;
        gap: 10px;
    }
}

@media only screen and (max-width: 1060px){
    .work_line_tipe{
        width: 45%;
        height: 243px;
    }
}

@media only screen and (max-width: 1000px) {

    .navbar{
        padding:0px 20px 0px 20px ;
    }
    .main_img{
        display: none;
    }
    .main_fraim{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header_text{
        margin-right: 0 !important;
        text-align: center;
    }
    .burger{
        display: block;
    }
    .navbar_list{
        position: absolute;
        width: 300px;
        left: -300px;
        top: 0;
        background-color: rgb(187, 183, 190);
        display: block;
        text-align: center;
        padding: 140px 50px 80px 20px ;
        transition: transform .5s;
    }
    .navbar_list li{
        margin: 5px;
    }
    .header.open .navbar_list{
        transform: translateX(100%);
    }
    /* .work_line{
        gap: 40px;
    } */
  }

@media only screen and (max-width: 900px) {
    .skills_img{
        display: none;
    }
    .skills_main{
        width: 100%;
    }
}

  @media only screen and (max-width: 800px) {
    .about{
        padding: 0px 50px 0px 50px;
    }
   
  }



  @media only screen and (max-width: 500px){
    .header_text_title{
        font-size: 36px;
    }
    .navbar_list{
        padding: 140px 25px 100px 20px ;
    }
    .about{
        padding: 0px 10px 0px 10px;
    }
    .about_text_title{
        font-size: 34px;
    }
    .work_line_tipe{
        width: 480px;
        height: 243px;
    }
    .work_line{
        padding-left: 10px;
        padding-right: 10px;
    }
  }

  @media only screen and (max-width: 420px) {
    .skills_main_level{
        height: 500px;
        width: 280px;
    }
    .skills_main_level_title{
        font-size: 26px;
    }
    .skills_main{
        padding-left: 10px;
        padding-right: 10px;
    }
    .about{
        height: 50vh;
    }
  }

  @media only screen and (max-width: 300px){
    .header_text_title{
        font-size: 30px;
    }
    .header_text_button{
        padding: 15px 30px;
        font-size: 13px;
    }
    .about_text_title{
        font-size: 24px;
    }
    .skills_main_level{
        height: 400px;
        width: 200px;
    }
    .skills_main_level_title{
        line-height: 1;
    }
  }

